<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase login</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}" />
    <script
      type="module"
      src="{{ url_for('static', path='/firebase-login.js') }}"
    ></script>
  </head>
  <body>
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-end">
          <div class="flex flex-1 items-center justify-between">
            <div class="flex flex-shrink-0 items-center">
              <svg
                class="mx-auto h-8 w-auto text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                />
              </svg>
            </div>
            <div class="hidden sm:ml-6 sm:block">
              <div class="flex justify-end space-x-4">
                <button
                  id="sign-out"
                  hidden="true"
                  class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- <div id="login-box" hidden="true">
      Email: <input type="email" name="" id="email" /> <br />
      Password: <input type="password" name="" id="password" /> <br />
      <button id="login">Login</button>
      <button id="sign-up">Sign Up</button>
    </div>
    <button id="sign-out" hidden="true">Sign Out</button> -->

    <!-- if we hava a logged in user then show the user email address from the user_token object -->
    {% if user_token %}
    <a href="/"> go back</a>

    <p>User email: {{ user_token.email }}</p>

    <div>
      <h2>Gallery: {{ gallery.get("name") }}</h2>

      <h3>Add an Image</h3>
      <form
        action="/gallery/{{ gallery_index }}/image"
        method="post"
        enctype="multipart/form-data"
      >
        <input
          type="file"
          name="file_name"
          id="file_name"
          accept=".jpg, .jpeg, .png, image/jpeg, image/jpg, image/png"
        />
        <input type="submit" value="Upload" />
      </form>

      <a href="/gallery/{{ gallery_index }}/?detect_duplicates=true">
        Show duplicates
      </a>

      <h3>Images</h3>
      {% for image in images %}
      <img src="{{ image.get('url') }}" alt="" width="200" />
      <form
        action="/gallery/{{ gallery_index }}/image/{{ loop.index0 }}/delete"
        method="post"
      >
        <input type="submit" value="delete" />
      </form>
      {% endfor %}

      <!-- render duplicates -->
      {% if duplicates %}
      <h3>duplicates</h3>

      {% for duplicate in duplicates %}
      <img src="{{ duplicate.get('url') }}" alt="" width="200" />
      <form
        action="/gallery/{{ gallery_index }}/image/{{ loop.index0 }}/delete"
        method="post"
      >
        <input type="submit" value="delete" />
      </form>
      {% endfor %} {% endif %}
    </div>
    {%endif%}
  </body>
</html>
