<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase login</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}" />
    <script
      type="module"
      src="{{ url_for('static', path='/firebase-login.js') }}"
    ></script>
  </head>
  <body class="h-full">

    <div id="login-box" hidden="true">
      <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <svg class="mx-auto h-12 w-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
          </svg>
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
        </div>
        
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <div class="space-y-6" action="#" method="POST">
            <div>
              <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
              <div class="mt-2">
                <input id="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>
      
            <div>
              <div class="flex items-center justify-between">
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
              </div>
              <div class="mt-2">
                <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>
      
            <div class="flex flex-row gap-2">
              <button id="login"  class="flex grow justify-center outline outline-1 rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
              <button id="sign-up"  class="flex grow justify-center rounded-md text-indigo-600 outline outline-1 px-3 py-1.5 text-sm font-semibold leading-6  shadow-sm hover:bg-indigo-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- <div id="login-box" hidden="true">
      Email: <input type="email" name="" id="email" /> <br />
      Password: <input type="password" name="" id="password" /> <br />
      <button id="login">Login</button>
      <button id="sign-up">Sign Up</button>
    </div> -->


    <button id="sign-out" hidden="true">Sign Out</button>

    <!-- if we hava a logged in user then show the user email address from the user_token object -->
    {% if user_token %}
    <p>User email: {{ user_token.email }}</p>

    <div>
      <h2>Add a gallery</h2>

      <form action="/gallery" method="post">
        Gallery Name:
        <input type="text" name="gallery_name" id="gallery_name" required />
        <input type="submit" value="Save" />
      </form>
    </div>

    <a href="/?detect_duplicates=true">
      Show duplicates
    </a>

    {% if duplicates %}

    <h3>duplicates</h3>

      {% for duplicate in duplicates %}
      <img src="{{ duplicate.get('url') }}" alt="" width="200" />
      </form>
      {% endfor %}

    {% endif %}

    <div>
      <h2>Galleries</h2>

      {% for gallery in galleries %}

      <a href="/gallery/{{ loop.index0 }}">
        <p>{{ gallery.get("name") }}</p>

        {% if gallery.get('images')[0] %}
        <img src="{{ gallery.get('images')[0].get().get('url') }}" alt="" width="200">
        {% endif %}
      </a>
      

      <form action="/update-gallery-name" method="post">
        <input type="text" name="gallery_name" />
        <input type="hidden" name="index" value="{{ loop.index0 }}" />
        <input type="submit" value="Update" />
      </form>

      <form action="/share-gallery" method="post">
        <input type="email" name="email" required/>
        <input type="hidden" name="index" value="{{ loop.index0 }}" />
        <input type="submit" value="Share" />
      </form>

      <form action="/delete-gallery" method="post">
        <input type="hidden" name="index" value="{{ loop.index0 }}" />
        <input type="submit" value="delete" />
      </form>

      {% endfor %}
    </div>
    {%endif%}
  </body>
</html>
