<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase login</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}" />
    <script
      type="module"
      src="{{ url_for('static', path='/firebase-login.js') }}"
    ></script>
  </head>
  <body>
    <div id="login-box" hidden="true">
      Email: <input type="email" name="" id="email" /> <br />
      Password: <input type="password" name="" id="password" /> <br />
      <button id="login">Login</button>
      <button id="sign-up">Sign Up</button>
    </div>
    <button id="sign-out" hidden="true">Sign Out</button>

    <!-- if we hava a logged in user then show the user email address from the user_token object -->
    {% if user_token %}
    <p>User email: {{ user_token.email }}</p>

    <div>
      <h2>Add a gallery</h2>

      <form action="/gallery" method="post">
        Gallery Name:
        <input type="text" name="gallery_name" id="gallery_name" required />
        <input type="submit" value="Save" />
      </form>
    </div>

    <a href="/?detect_duplicates=true">
      Show duplicates
    </a>

    {% if duplicates %}

    <h3>duplicates</h3>

      {% for duplicate in duplicates %}
      <img src="{{ duplicate.get('url') }}" alt="" width="200" />
      </form>
      {% endfor %}

    {% endif %}

    <div>
      <h2>Galleries</h2>

      {% for gallery in galleries %}

      <a href="/gallery/{{ loop.index0 }}">
        <p>{{ gallery.get("name") }}</p>

        {% if gallery.get('images')[0] %}
        <img src="{{ gallery.get('images')[0].get().get('url') }}" alt="" width="200">
        {% endif %}
      </a>

      <form action="/update-gallery-name" method="post">
        <input type="text" name="gallery_name" />
        <input type="hidden" name="index" value="{{ loop.index0 }}" />
        <input type="submit" value="Update" />
      </form>

      <form action="/share-gallery" method="post">
        <input type="email" name="email" required/>
        <input type="hidden" name="index" value="{{ loop.index0 }}" />
        <input type="submit" value="Share" />
      </form>

      <form action="/delete-gallery" method="post">
        <input type="hidden" name="index" value="{{ loop.index0 }}" />
        <input type="submit" value="delete" />
      </form>

      {% endfor %}
    </div>
    {%endif%}
  </body>
</html>
